<%= simple_form_for(Payment.new) do |f| %>
  <%= f.input :animal_id, as: :hidden if @animal.present? %>

  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag("animal/#{@animal.animal_type}.png", class: 'media-object', size: '96x96') %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= @animal.name %>
        <span class='pull-right'>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>"
            data-label="Renouveler"
            data-amount="<%= @amount_to_pay %>"
            data-name="<%= t 'site_name' %>"
            data-description="Renouvellement de licence"
            data-image="/assets/logo.png"
            data-panel-label="Payer"
            data-allow-remember-me=false>
          </script>
        </span>
      </h4>
      <p>Coût de la licence: <strong><%= number_to_currency(@animal.licence_amount, strip_insignificant_zeros: true) %></strong></p>
      <p>Propriétaire: <strong><%= @animal.owner %></strong></p>
    </div>
  </div>

  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings. Please check <a href="http://www.enable-javascript.com" target="_blank">documentation</a>.</noscript>
  </div>
<% end %>